<% @follower_suggestions.each do |user| %>
    <div class="recommended-follower">
        <div class="row">
            <div class="col-2">
                <%= link_to profile_picture(user, 25), profile_path(user.user_name) %>
            </div>
            <div class="col-9">
                <%= form_tag follow_user_path, method: :post, class: "float-right" do %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= submit_tag "Follow", class: "btn btn-info btn-sm"%>
                <% end %>

                <%= link_to user.user_name, profile_path(user.user_name), class: "text-dark" %>
                <p><%= user.created_at < 2.days.ago ? "New to Instagram": "Followed by X users" %></p>
            </div>
        </div>
    </div>
<% end %>