<%= form_for @post, html: {mutipart: true } do |f| %>
    <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
    </div>
    
    <%= f.submit "save post", class: "btn btn-success"%>
<% end %>